header{
    height: 100px;
    width: 100vw;
}
.container{
    padding: 20px;
    gap: 20px;
}
nav{
    width: 90%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    color: black;
    background-color: #aaa;
    padding: 20px;
    border-radius: 20px;
    position: fixed;
    z-index: 1000;
}
ul{
    gap: 30px;
}
.container h2{
    align-self: center;
    gap: 50px;
}
.container form{
    gap: 30px;
}
.dashboard-content{
    margin-top: 50px;
}
.container form input:read-only{
    width: 90%;
    outline: none;
    border: none;
    font-size: 1.5rem;
}
.email, .password{
    gap: 20px;
    font-size: 1.5rem;
    align-items: center;
}
#edit_email, #edit_password{
    cursor: pointer;
}
.edit_password_box{
    gap: 20px;
    display: none;
}
.edit_password_box input, .edit_password_box label{
    font-size: 1.25rem;
    padding: 10px;
}
.submit-container .button{
    width: max-content;
}
#change_profile_form input[type="submit"]{
    width: max-content;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}